* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;   /* QUAN TRá»ŒNG */
  font-family: sans-serif;
}

/* SIDEBAR */
.sidebar {
  width: 25%;
  padding: 25px;
  color: white;
  background: linear-gradient(180deg, #5f6dfb 0%, #6d3bbf 100%);
  display: flex;
  flex-direction: column;
}
.chat-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.chat-item:hover {
  background: rgba(255, 255, 255, 0.15);
}

.chat-item.active {
  background: rgba(255, 255, 255, 0.25);
}

.chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.search-box input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-bottom: 20px;
  outline: none;
}

.chat-user {
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}

.chat-user:hover,
.chat-user.active {
  background: rgba(255, 255, 255, 0.2);
}

/* CHAT AREA */
.chat-area {
  width: 75%;
  display: flex;
  flex-direction: column;
  background: #f4f6fb;
}

.chat-header {
  height: 70px;
  background: white;
  border-bottom: 1px solid #eee;

  display: flex;
  align-items: center;
  padding: 0 25px;
}

.chat-header-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.chat-header-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.chat-header-name {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

.chat-header-status {
  font-size: 13px;
  color: #4caf50;
}

.chat-messages {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.message {
  max-width: 60%;
  padding: 12px 18px;
  margin-bottom: 15px;
  border-radius: 25px;
  font-size: 14px;
}

.message.left {
  background: #e0e0e0;
}

.message.right {
  margin-left: auto;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}

.chat-input {
  display: flex;
  padding: 20px;
  background: white;
}

.chat-input input {
  flex: 1;
  padding: 12px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
  outline: none;
}

.chat-input button {
  margin-left: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  font-size: 18px;
}